
*{
  box-sizing: border-box;
}
.box{
  width: 400px;
  height: 130px;
  border: 1px solid black;
  float: left;
  margin: 20px;
  background-color: grey
}

.box3{
  width: 400px;
  height: 130px;
  border: 1px solid black;
  float: left;
  margin: 20px;
  background-color: grey
}



.title1{
  float:right;
  width: 100px;
  height: 20px;
  background-color: pink;
  text-align: center;
  margin-bottom: 10px;
}



.title2{
  float:right;
  width: 100px;
  height: 20px;
  background-color:orange;
  text-align: center;
  margin-bottom: 10px;
}

.title3{
  float:right;
  width: 100px;
  height: 20px;
  background-color:cyan;
  text-align: center;
  margin-bottom: 10px;
}


h1{
  text-align: center;
  font-size: 40px;
}

p{
  clear: right;
}
p{
  margin-left: 10px;
  margin-right: 10px;
}







/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
  }
  .col-lg-4 {
    width: 33.33%;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }

  .box3{
    width: 840px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

 .box,.box3{
  width: 90%;
 }
}

